

*{margin:0;padding:0;}
a{text-decoration:none;}
li{text-decoration:none;list-style-type: none;}
img{border:none;}
input {outline:none;}
input:focus {outline:none;}
.Clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.Clearfix{*zoom:1;clear:both;}
.Fl{float:left;}
.Fr{float:right;}
.Bg {background:#ffffff;}
.Margin{margin:.2rem 0;}

body{background:#f2f2f2;}


/*public*/
.Cover {
    display:none;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    max-width:640px;
    background:rgba(0,0,0,0.3);
    z-index:100;
}
/*bomd*/
.Bomdbox {
	display:none;
    position:fixed;
    bottom:-100%;
    width:100%;
    max-width:640px;
    /*max-height:80%;*/
    z-index:168;
}
.Bomdbox .Bomdhead {
    position:relative;
    padding:0 2%;
    width:96%;
}
.Bomdbox .Bomdhead p {
    margin-top:.3rem;
    line-height:.5rem;
    font-size:.3rem;
    color:red;
}
.Bomdbox .Bomdhead p span {
    display:block;
    font-size:.24rem;
    color:#000000;
}
.Bomdbox .Bomdhead .Close {
    position:absolute;
    right:.2rem;
    top:.2rem;
    font-size:.3rem;
    color:#000000;
}
.Bomdbox .Portrait {
    margin-top:-0.8rem;
	width:35%;
}
.Bomdbox .Portrait img{width:100%;}
.Bomdbox .Bomdcomment h2 {
    display:block;
    font-size:.3rem;
    color:#000000;
    padding-left:2%;
    padding-bottom:.2rem;
    border-bottom:2px solid #cccccc;
}
.Bomdbox .Bomdcomment .Course{
    height:100%;
    max-height:5rem;
    border-bottom:1px solid #cccccc;
    overflow:scroll;
}
.Bomdbox .Bomdcomment .Course li{
	position:relative;
	padding:0 2%;
	padding-top:.5rem;
	padding-bottom:.2rem;
	line-height:.4rem;
	border-bottom:.01rem solid #cccccc;
}
.Bomdbox .Bomdcomment .Course p{
    font-size:.2rem;
    line-height:.4rem;
    text-indent:2em;
}
.Bomdbox .Bomdcomment .Course span{
    position:absolute;
    top:.1rem;
    right:2%;
    font-size:.2rem;
}
/*public end ======================================= */


/*header*/
header{
	position:fixed;
	top:0;
	width:100%;
	max-width:640px;
	height:.51rem;
	line-height:.51rem;
	background:#ffffff;
	left:50%;
	transform:translate(-50%);
	border-bottom:1px solid #cccccc;
	text-align:center;
	z-index:99;
}
header .Hbtn{
	display:block;
	float:left;
	width:25%;
	font-size:.18rem;
	color:#000000;
}
/*header end ======================================= */

/*footer*/
footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:.6rem;
	line-height:.6rem;
	z-index:99;
}
footer .Footerbox{
	margin:0 auto;
	max-width:640px;
	background:#ffffff;
	border-top:1px solid #cccccc;
}
footer .Fbtn{
	display:block;
	float:left;
	width:25%;
	font-size:.18rem;
	color:#000000;
	text-align:center;
}
/*footer end ========================================== */

.Layout{
	/*position:absolute;*/
	width:100%;
	height:100%;
	min-height:100%;
	overflow:hidden;
}

/*content*/
.Content{
	margin:0 auto;
	width:100%;
	max-width:640px;
	padding-top:.51rem;
	padding-bottom:.6rem;
}

.Banner,.Linkbox{
	width:100%;
	background:#ffffff;
    font-size:0;
}
.Banner img{width:100%;}

.Linkbox{
	margin-bottom:.1rem;
	padding:.1rem 0;
}
.Linkbox img{max-width:100%;}
.Linkbox a{
	display:block;
	float:left;
	width:25%;
	font-size:.16rem;
	color:#000000;
	text-align:center;
}
.Linkbox a p{line-height:.3rem;}

.Goods{
	width:100%;
}
.Goods li{
	padding:.2rem 0;
	margin-bottom:.2rem;
	background:#ffffff;
}
.Goods .Goodsimg img{
	width:100%;
	height:auto;
}
.Goods .Goodsimg p{
	padding:0 .15rem;
	font-size:.18rem;
	line-height:.4rem;
	color:#000000;
}
.Goods .Goodsmoney{
	padding:0 .2rem;
	margin-top:.2rem;
}
.Goods .Goodsmoney p{
	font-size:.3rem;
	color:red;
}
.Goods .Goodsmoney p span{
	margin-left:.1rem;
	font-size:.22rem;
	color:#cccccc;
}
.Goods .Goodsmoney a{
	display:block;
	width:1.02rem;
	height:.6rem;
	line-height:.62rem;
	font-size:.14rem;
	color:#ffffff;
	background:#ff0000;
	text-align:center;
	border-radius:.1rem;
}
/*content end ======================================== */

/*search*/
.Searchlayout .Search{
    margin:.2rem 3%;
    width:94%;
    height:.6rem;
    line-height:.6rem;
    font-size:0;
    border-radius:.1rem;
    overflow:hidden;
}
.Searchlayout .Search input{
    border:none;
    padding:0 2%;
    width:96%;
    height:100%;
    line-height:100%;
    font-size:.22rem;
    outline:none;
    text-align:center;
}
.Searchlayout .Linkbox {
    margin-bottom:0 !important;
    border-bottom:.01rem solid #f2f2f2;
}
.Searchlayout .Linkbox a{
    width:33.333%;
}
.Searchlayout .Selectcolor {
    display:block;
    padding:.1rem 10%;
    width:80%;
    height:.4rem;
    line-height:.4rem;
    font-size:.2rem;
    border-bottom:.01rem solid #f2f2f2;
}
.Searchlayout .Selectcolor a {
    margin:0 .1rem;
    font-size:.2rem;   
    color:#000000;
}
.Stypebtn li{
    display:block;
    float:left;
    margin:.1rem 0;
    width:25%;
    font-size:0;
    text-align:center;
}
.Stypebtn a img {max-width:90%;}
.Stypebtn a p {
    display:block;
    margin:.1rem 0;
    font-size:.2rem;
    color:#000000;
}
/*search end ======================================== */

/*goodsshow*/
.Address {
    display:block;
    padding:0 5%;
    width:90%;
    height:.5rem;
    line-height:.5rem;
    font-size:.2rem;
    border-bottom:.01rem solid #f2f2f2;
}
.Goodslayout .Content {
    padding-top:0;
}
.Goodslayout .Goodsbox li {
    float:left;
    width:50%;
}
.Goodslayout .Goodsbox li a {
    display:block;
    padding-bottom:.2rem;
    border:1px solid #f2f2f2;  
}
.Goodslayout .Goodsbox li img {width:100%;}
.Goodslayout .Goodsbox li p.Details {
    display:block;
    margin:.1rem 2%;
    width:96%;
    font-size:.2rem;
    color:#000000;
    text-indent:2em;
}
 .Goodslayout .Goodsbox li p.Price {
    display:block;
    margin:0 2%;
    width:96%;
    font-size:.28rem;
    color:red;
}
.Goodslayout .Goodsbox li p.Price span {
    float:right;
    font-size:.24rem;
    color:#000000;
}

/*goodsshow end ================================= */

/*goodsdetails*/
.Goodsfooter{
	margin:0 auto;
	max-width:640px;
	background:#ffffff;
	border-top:1px solid #cccccc;
}
.Goodsfooter a:first-child p{
    border-right:1px solid #cccccc;
}
.Goodsfooter a.Comment {color:red;}
.Goodsfooter a.Buynow {background:yellow;}
.Goodsfooter a.Buyteam {background:red;color:#ffffff;}

.Goodslayout .Goodsdata {
    padding:.2rem;
}
.Goodslayout .Goodsdata p {
    line-height:.4rem;
    font-size:.2rem;
    color:#000000;
}
.Goodslayout .Goodsdata p.Money {
    font-size:.24rem;
    color:red;
}
.Goodslayout .Details {
    margin:.2rem 0;
    padding:.2rem 0;
}
.Goodslayout .Details p{
    margin-bottom:.2rem;
    padding:0 .2rem;
    line-height:.4rem;
    font-size:.2rem;
    text-indent:2em;
    color:#000000;
}
.Goodslayout .Details img {
    width:100%;
}
/*goodsdetails*/

/*personal center*/
.Personaltop{
	padding:5%;
	width:90%;
	background:red;
}
.Personaltop img{
	margin-right:.3rem;
	width:1.5rem;
	-webkit-border-radius:50%;
	border-radius:50%;
	overflow: hidden;
	vertical-align: middle;
}
.Personaltop p{
	margin-top:.2rem;
	line-height:.4rem;
	font-size:.3rem;
	color:#ffffff;
}
.Personaltop span{
	display:block;
	line-height:.4rem;
	font-size:.26rem;
	color:#ffffff;
}
.Personalbox h2{
	padding:.2rem;
	height:.4rem;
	font-size:.3rem;
	color:#000000;
	border-bottom:1px solid #cccccc;
}
.Personalbox h2 a{
	font-size:.18rem;
	font-weight:normal;
	color:#3C3C3C;
}
.Personalbox .Transbox li{
	padding:.2rem 0;
	float:left;
	width:20%;
	font-size:0;
	text-align: center;
}
.Personalbox .Transbox li img{max-width:90%;}
.Personalbox .Transbox li p{
	display:block;
	margin-top:.2rem;
	line-height:.4rem;
	font-size:.2rem;
	color:#000000;
}
.Personalbox .Peractivity li{width:25%;}
/*personal center end ================================== */




@media only screen and (min-width: 640px) {
	/*public*/
	.Margin{margin:10px 0;}
	
	
	
	header{
		height:40px;
		line-height:40px;
	}
	footer{
		height:50px;
		line-height:50px;
	}
	.Content{
		padding-top:40px;
		padding-bottom:50px;
	}

	header .Hbtn{font-size:20px;}
	.Linkbox a{font-size:16px;}
	
	footer .Fbtn{font-size:20px;}

	.Goods li{
        padding:15px 0;
        margin-bottom:20px;
	}
	.Goods .Goodsimg p{
		padding:0 10px;
		font-size:18px;
		line-height:24px;
	}
	.Goods .Goodsmoney{
		padding:0 10px;
		margin-top:10px;
	}
	.Goods .Goodsmoney p{
		font-size:24px;
	}
	.Goods .Goodsmoney p span{
		margin-left:10px;
		font-size:18px;
	}
	.Goods .Goodsmoney a{
		width:60px;
		height:30px;
		line-height:30px;
		font-size:18px;
		border-radius:6px;
	}
	
	
	
	
	/*personal center*/
	.Personaltop img{width:120px;margin-right:20px;}
	.Personaltop p{margin-top:20px;font-size:20px;line-height:40px;}
	.Personaltop span{font-size:16px;line-height:20px;}
	.Personalbox h2{padding:10px;height:30px;font-size:20px;}
	.Personalbox h2 a{font-size:16px;line-height:30px;}
	.Personalbox .Transbox li{padding:10px 0;}
	.Personalbox .Transbox li p{margin-top:10px;line-height:30px;font-size:18px;}
}

















