body {margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;background:#000000;color:#ffffff;font-family:Verdana;font-size:12px}


/*----------------------- scrollbar -----------------------*/
html
{
    scrollbar-face-color: #626262; 
    scrollbar-shadow-color: #444; 
    scrollbar-highlight-color: #666666; 
    scrollbar-3dlight-color: #aaa; 
    scrollbar-darkshadow-color: #000; 
    scrollbar-track-color: #111111;
    scrollbar-arrow-color: #ffffff;
}

/* old
::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-corner {background:transparent;}
::-webkit-scrollbar-track {background: #111111; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); -webkit-border-radius: 10px;border-radius: 10px;}
::-webkit-scrollbar-thumb {-webkit-border-radius: 10px; border-radius: 10px; background: rgba(98, 98, 98, 0.8); -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);}
::-webkit-scrollbar-thumb:hover  {background: rgba(0, 120, 163, 0.8);}
::-webkit-scrollbar-thumb:active {background: rgba(245, 132, 0, 0.8);}
*/

::-webkit-scrollbar {width:10px; height:10px; background-color:#111111;}

::-webkit-scrollbar-corner {background: #111111;}

::-webkit-scrollbar-button:horizontal:decrement {background: #111111 url(images/icon-left-white.png) no-repeat 50% 50%;}
::-webkit-scrollbar-button:horizontal:decrement:hover  {background-color: #0078a3;}
::-webkit-scrollbar-button:horizontal:decrement:active {background-color: #f58400;}

::-webkit-scrollbar-button:horizontal:increment {background: #111111 url(images/icon-right-white.png) no-repeat 50% 50%;}
::-webkit-scrollbar-button:horizontal:increment:hover  {background-color: #0078a3;}
::-webkit-scrollbar-button:horizontal:increment:active {background-color: #f58400;}

::-webkit-scrollbar-button:vertical:decrement {background: #111111 url(images/icon-up-white.png) no-repeat 50% 50%;}
::-webkit-scrollbar-button:vertical:decrement:hover  {background-color: #0078a3;}
::-webkit-scrollbar-button:vertical:decrement:active {background-color: #f58400;}

::-webkit-scrollbar-button:vertical:increment {background: #111111 url(images/icon-down-white.png) no-repeat 50% 50%;}
::-webkit-scrollbar-button:vertical:increment:hover  {background-color: #0078a3;}
::-webkit-scrollbar-button:vertical:increment:active {background-color: #f58400;}

::-webkit-scrollbar-thumb {background: #626262; border-radius:6px; moz-border-radius:6px; webkit-border-radius:6px}
::-webkit-scrollbar-thumb:hover  {background: #0078a3;}
::-webkit-scrollbar-thumb:active {background: #f58400;}
/*----------------------- scrollbar -----------------------*/


.mini-disabled {color:#aaa; cursor:default; opacity:.55; -moz-opacity:.55; filter:alpha(opacity=45);}

.mini-shadow
{
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: #444;
    -moz-box-shadow: 2px 2px 3px #454545;
    -webkit-box-shadow: 2px 2px 3px #454545;
    box-shadow: 2px 2px 3px #454545;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}

.mini-popup {background: #1f1f1f; color: #ffffff; border: 1px solid #666666;}

.mini-tools-close   {background:url(images/panel_tools.png) no-repeat -16px 0px;}
.mini-tools .mini-tools-collapse {background:url(images/panel_tools.png) no-repeat -32px 0;}
.mini-tools .mini-tools-expand   {background:url(images/panel_tools.png) no-repeat -32px -16px;}
.mini-tools-max     {background:url(images/panel_tools.png) no-repeat 0px -16px;}
.mini-tools-min     {background:url(images/panel_tools.png) no-repeat 0px 0px;}
.mini-tools-restore {background:url(images/panel_tools.png) no-repeat -16px -16px;}

/*----------------------- toolbar -----------------------*/
.mini-toolbar {border-bottom:1px solid #333; background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; color: #fff;}
.separator {border-left:1px solid #aaa; border-right:1px solid #444; width:0;}

.mini-box-border {border:1px solid #666666;}

.mini-errorIcon {background:url(images/error.png) no-repeat 50% 50%; width:16px;}

/*----------------------- button -----------------------*/
.mini-button{border:1px solid #666666; background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x;}
.mini-button, a.mini-button{color:#eeeeee}

body a:hover.mini-button {border:1px solid #59b4d4; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; color:#fff;}

body .mini-button-pressed, body a:hover.mini-button-pressed,
body .mini-button-checked, body a:hover.mini-button-checked,
body a.mini-button-popup, body a:hover.mini-button-popup {border:1px solid #ffaf0f; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; color:#fff;}

body a.mini-button-disabled, body a:hover.mini-button-disabled {cursor:default; color:#fff; background:transparent none; border-color:#666666;}
body .mini-button-disabled * {cursor:default; opacity:.55; -moz-opacity:.55; filter:alpha(opacity=45);}

/*----------------------- textbox -----------------------*/
.mini-textbox-border {background:#fff; color:#000; border:1px solid #666666;}
.mini-noborder .mini-textbox-border {border:0;}
body .mini-textbox-focus .mini-textbox-border {border-color:#ffaf0f;}
body .mini-textbox-readOnly .mini-textbox-border, body .mini-textbox-disabled .mini-textbox-border {background:transparent; cursor:default;}
body .mini-textbox-disabled .mini-textbox-input,  body .mini-textbox-readOnly .mini-textbox-input  {color:#aaa;}

body .mini-error .mini-textbox-border, body .mini-error .mini-buttonedit-border {border:1px solid #ffa8a8; background:#fff3f3;}

/*----------------------- buttonedit -----------------------*/
.mini-buttonedit-border {background:#fff; color:#000; border:1px solid #666666; padding:0 16px 0 0;}
.mini-autocomplete .mini-buttonedit-border {padding-right:0 !important;}
.mini-buttonedit-input  {background:#fff; color:#333; border:0; height:19px;}
.mini-buttonedit-button {background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x; height:19px; width:16px; margin:0; padding:0;}

.mini-buttonedit-button-hover,   .mini-buttonedit-hover .mini-buttonedit-button {border:0; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x;}
.mini-buttonedit-button-pressed, .mini-buttonedit-popup .mini-buttonedit-button {border:0; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x;}

body .mini-buttonedit-focus .mini-buttonedit-border {border-color:#ffaf0f;}

body .mini-buttonedit-disabled .mini-buttonedit-border, body .mini-buttonedit-disabled .mini-buttonedit-input {background:transparent; color:#aaa;}
body .mini-buttonedit-disabled .mini-buttonedit-button {border:0; background:transparent; opacity:.55; -moz-opacity:.55; filter:alpha(opacity=45);}
body .mini-buttonedit-disabled .mini-buttonedit-close  {cursor:default;}

.mini-buttonedit-icon {background:url(images/more.gif) no-repeat 0 2px; width:16px; height:16px;}
.mini-popupedit  .mini-buttonedit-icon {background:url(images/combo_arrow.png) no-repeat   0 2px; width:16px; height:16px;}
.mini-datepicker .mini-buttonedit-icon {background:url(images/icon-calendar.png) no-repeat 0 2px; width:16px; height:16px;}

.mini-buttonedit-up   span {background:url(images/spinner_arrows.png) no-repeat 1px center;}
.mini-buttonedit-down span {background:url(images/spinner_arrows.png) no-repeat -15px center;}

.mini-filteredit .mini-buttonedit-icon {background:url(images/filter.png) no-repeat 0 2px; width:16px; height:16px;}

/*----------------------- panel -----------------------*/
.mini-panel {font-family:Verdana; font-size:13px;}
.mini-panel-border {border:1px solid #666666;}
.mini-panel-viewport {background:#000000;}
.mini-panel-header, .mini-window .mini-panel-header {border-bottom:1px solid #666666; color:#fff; background:#000000 url(images/bg_black.png) left center scroll repeat-x;}

.mini-panel-toolbar {border-bottom:1px solid #333; background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; color:#fff;}
.mini-panel-footer, .mini-window .mini-panel-footer {background:#222222; border-color:#666666;}
.mini-statusbar {background-color:#313131; padding:2px;}

.mini-panel .mini-panel-title {font-weight:bold;}
.mini-panel-collapse .mini-tools-collapse {background:url(images/panel_tools.png) no-repeat -32px 0;}

/*----------------------- outlookbar -----------------------*/
.mini-outlookbar-border {border:1px solid #666666;}
.mini-outlookbar-group  {border-bottom:1px solid #666666;}
.mini-outlookbar-groupHeader {background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x;}
.mini-outlookbar-groupTitle  {color:#fff;}
.mini-outlookbar-groupBody   {border-top:1px solid #666666;}
.mini-outlookbar .mini-outlookbar-expand .mini-tools-collapse {background:url(images/layout_arrows.png) no-repeat -16px -16px;}

/*----------------------- tabs -----------------------*/
.mini-tabs {font-family:Verdana; font-size:13px;}
.mini-tabs-table {font-family:Verdana; font-size:13px;}
.mini-tabs-scrollCt {border:0; background:#000000 repeat-x 0 0;}

.mini-tabs-bodys {border:1px solid #666666; background:#000000 url(images/bg_inset_000000.png) 50% bottom repeat-x;}

.mini-tabs-space, .mini-tabs-space2 {border-bottom:1px solid #666666;}

.mini-tab {background:#000000 url(images/bg_black.png) left center scroll repeat-x; border:1px solid #666666; color:#ffffff; font-family:Verdana; font-size:13px;}
/*
.mini-tabs-lastSpace {background:#000000 url(images/bg_black.png) left center scroll repeat-x; border-top:1px solid #666666;}
.mini-tabs-plain .mini-tabs-lastSpace {background:#000000 none;}
*/
.mini-tab-hover  {border-color:#59b4d4; background: #0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x;}
.mini-tab-active {border-color:#ffaf0f; background: #f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x;}

.mini-tab-close{background:url(images/close_white.png) no-repeat 50% 50%;}
.mini-tab-close-hover {background-color:#ff3232;}

.mini-tabs-position-bottom .mini-tabs-space, .mini-tabs-position-bottom .mini-tabs-space2 {border-top:1px solid #666666;}
.mini-tabs-position-bottom .mini-tabs-bodys {border:1px solid #666666; border-bottom:0;}
.mini-tabs-position-bottom .mini-tab-active {border:1px solid #ffaf0f;}

.mini-tabs-position-left .mini-tabs-space, .mini-tabs-position-left .mini-tabs-space2 {border-right:1px solid #666666;}
.mini-tabs-position-left .mini-tabs-bodys {border:1px solid #666666; border-left:0;}
.mini-tabs-position-left .mini-tab-active {border:1px solid #ffaf0f;}

.mini-tabs-position-right .mini-tabs-space, .mini-tabs-position-right .mini-tabs-space2 {border-left:1px solid #666666;}
.mini-tabs-position-right .mini-tabs-bodys {border:1px solid #666666; border-right:0;}
.mini-tabs-position-right .mini-tab-active {border:1px solid #ffaf0f;}

.mini-tabs-leftButton, .mini-tabs-rightButton {border-color:#666666;}
.mini-tabs-leftButton  {background:#000000 url(images/icon-left-white.png)  no-repeat center center;}
.mini-tabs-rightButton {background:#000000 url(images/icon-right-white.png) no-repeat center center;}

a:hover.mini-tabs-leftButton,  a:hover.mini-tabs-rightButton  {border-color:#59b4d4; background-color:#0078a3;}
a:active.mini-tabs-leftButton, a:active.mini-tabs-rightButton {border-color:#ffaf0f; background-color:#f58400;}

a:hover.mini-disabled, a:active.mini-disabled {border-color:transparent; background-color:transparent;}

/*----------------------- splitter -----------------------*/
.mini-splitter-border {border:solid 1px #666666;}
.mini-splitter .mini-splitter-pane1 {border-color:#666666;}
.mini-splitter .mini-splitter-pane2 {border-color:#666666;}

/*----------------------- layout -----------------------*/
.mini-layout-region{border-color:#666666;}
.mini-layout-region-header {background:#000000 url(images/bg_black.png) left center scroll repeat-x; border-bottom:1px solid #666666;}
.mini-layout-popup {background:#000;}

.mini-layout-proxy-north, .mini-layout-proxy-south {background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; border:1px solid #333;}
.mini-layout-proxy-east,  .mini-layout-proxy-west  {background:#333333 url(images/bv_gloss_333333.png) 50% 50% repeat-y; border:1px solid #333;}

.mini-layout-region-west .mini-layout-region-header .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat 0 0;}
.mini-layout-region-east .mini-layout-region-header .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat 0 -16px;}
.mini-layout-region-north .mini-layout-region-header .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat -16px -16px;}
.mini-layout-region-south .mini-layout-region-header .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat -16px 0;}
.mini-layout-proxy-west .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat 0 -16px;}
.mini-layout-proxy-east .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat 0 0;}
.mini-layout-proxy-north .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat -16px 0;}
.mini-layout-proxy-south .mini-tools-collapse{background: url(images/layout_arrows.png) no-repeat -16px -16px;}

.mini-layout-popup .mini-tools {display: none;}
.mini-layout-proxy-hover {background: #0078a3;}

/*----------------------- menu -----------------------*/
.mini-menu    {background:#000000 url(images/menu.gif) repeat-y 0 0; color:#fff;}
.mini-menubar {background:#000000 url(images/bg_black.png) left center scroll repeat-x;}
.mini-menu-border {border:1px solid #666666;}
.mini-menuitem-hover    {border-color:#59b4d4; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x;}
.mini-menu-popup        {border-color:#ffaf0f; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x;}
.mini-menuitem-selected {border-color:#c86e19; background:#db7b1f;}
.mini-menu-horizontal .mini-menu-inner {background:transparent none;}
.mini-menuitem-text {color: #fff;}
.mini-menu-horizontal .mini-menuitem-allow {background:url(images/menu_arrows.png) no-repeat -2px center; width:10px; height:16px; margin:4px 0px 0px;}
.quotes .mini-menu-horizontal .mini-menuitem-allow {background:url(images/menu_arrows.png) no-repeat -18px center; width:10px; height:16px; margin:4px 0px 0px;}
.mini-menuitem-allow {background:url(images/menu_arrows.png) no-repeat -32px center;}

.mini-separator {border-top:1px solid #aaa; border-bottom:1px solid #444;}
.mini-menu-horizontal .mini-separator {border-left:1px solid #444;}

/*----------------------- calendar -----------------------*/
.mini-calendar {border:1px solid #666666; background:#000000 url(images/bg_inset000000.png) 50% bottom repeat-x;}
.mini-calendar-header {border-color:#666666; color:#fff; background:#000000 url(images/bg_black.png) left center scroll repeat-x;}
.mini-calendar-footer {background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; border-color:#333;}
.mini-calendar-prev, .mini-calendar-next {top:4px;}
.mini-calendar-yearPrev  {background:url(images/calendar_arrows.png) no-repeat 0 50%; width:16px; height:16px;}
.mini-calendar-monthPrev {background:url(images/calendar_arrows.png) no-repeat -16px 50%; width:16px; height:16px;}
.mini-calendar-monthNext {background:url(images/calendar_arrows.png) no-repeat -32px 50%; width:16px; height:16px;}
.mini-calendar-yearNext  {background:url(images/calendar_arrows.png) no-repeat -48px 50%; width:16px; height:16px;}

.mini-calendar-daysheader td {border-bottom:1px solid #666666;}
.mini-calendar .mini-calendar-date {background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; border-color:#333; cursor:pointer;}
.mini-calendar .mini-calendar-weekend   {color:#cc2222;}
.mini-calendar .mini-calendar-othermonth{color:#898989;}
.mini-calendar .mini-calendar-disabled  {color:#898989; cursor:default; text-decoration:line-through; opacity:.55; -moz-opacity:.55; filter:alpha(opacity=45);}
.mini-calendar .mini-calendar-selected  {background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; border-color:#ffaf0f;}
.mini-calendar .mini-calendar-today     {background:#ffe45c; border:1px solid #fed22f; color:#363636;}

.mini-calendar-tadayButton, .mini-calendar-clearButton,
.mini-calendar-okButton, .mini-calendar-cancelButton {color:#eeeeee; border:1px solid #666666; background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x;}
body a:hover.mini-calendar-tadayButton, body a:hover.mini-calendar-clearButton, 
body a:hover.mini-calendar-okButton, body a:hover.mini-calendar-cancelButton   {border:1px solid #59b4d4; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; color:#fff;}
body a:active.mini-calendar-tadayButton, body a:active.mini-calendar-clearButton, 
body a:active.mini-calendar-okButton, body a:active.mini-calendar-cancelButton {border:1px solid #ffaf0f; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; color:#fff;}

.mini-calendar-menu {background:#000000 url(images/bg_inset_000000.png) 50% bottom repeat-x; border-color:#666666; color:#fff;}
.mini-calendar-menu-months {margin:10px; height:80px;}
.mini-calendar-menu-years  {margin:1px;}
.mini-calendar-menu-prevYear {top:16px; background:url(images/calendar_arrows.png) no-repeat 0 50%; width:16px; height:16px;}
.mini-calendar-menu-nextYear {top:16px; background:url(images/calendar_arrows.png) no-repeat -48px 50%; width:16px; height:16px;}

.mini-calendar-menu-month, .mini-calendar-menu-year {color:#eeeeee; border:1px solid #666666; background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x; margin:1px;}
a:hover.mini-calendar-menu-month, a:hover.mini-calendar-menu-year {border:1px solid #59b4d4; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; color:#fff;}
.mini-calendar-menu-selected, a:hover.mini-calendar-menu-selected {border:1px solid #ffaf0f; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; color:#fff;}

/*----------------------- listbox -----------------------*/
.mini-listbox {background:#000000 url(images/bg_inset_000000.png) 50% bottom repeat-x;}
.mini-listbox-border {border:1px solid #666666;}
.mini-listbox-showColumns .mini-listbox-view td {border:0;}
.mini-listbox-header {background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; border-color:#333;}
.mini-listbox-header td {border-right:1px solid #333;}
.mini-listbox-item-hover    {background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; color:#ffffff;}
.mini-listbox-item-selected {background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; color:#ffffff;}


/*----------------------- grid -----------------------*/
.mini-grid-cell, .mini-grid-headerCell, .mini-grid-filterCell, .mini-grid-summaryCell {border-color:#aaa;}
.mini-grid-headerCell, .mini-grid-topRightCell {background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x; border-right:1px solid #555; border-bottom:1px solid #555;}

.mini-grid-cell-inner a {text-decoration:none; color:#8f2a90;}

.mini-grid-sortIcon {background:url(images/grid_icons.png) no-repeat 0px center; width:16px;}
.mini-grid-asc  .mini-grid-sortIcon {background-position:0px center;}
.mini-grid-desc .mini-grid-sortIcon {background-position:-16px center;}

.mini-grid-ecIcon {background:url(images/grid_icons.png) no-repeat -32px center; width:16px;}
.mini-grid-expandRow .mini-grid-ecIcon {background:url(images/grid_icons.png) no-repeat -48px center;}

.mini-grid-topPager, .mini-grid-pager {background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; border-color:#333;}

.mini-grid-detailRow  {background:#000000 url(images/bg_inset_000000.png) 50% bottom repeat-x;}
.mini-grid-detailCell {border-right:1px solid #666666;border-bottom:1px solid #666666;}

.mini-grid-rows    {background-color:#000000;}
.mini-grid-row-alt {background-color:#626262;}
html body .mini-grid-row-selected             {background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; color:#ffffff;}
html body .mini-grid .mini-grid-cell-selected {background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; color:#ffffff;}
body .mini-grid-row-hover                     {background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; color:#ffffff;}

.quotes .mini-grid-cell         {border-color:transparent;}
.quotes .mini-grid-row-selected {background:transparent;}
.quotes .mini-grid-row-selected .mini-grid-cell {border-bottom-color:#ffffff;}

/*------------------- treegrid --------------------*/
.mini-tree-leaf {background:url(images/leaf.png) no-repeat;}
.mini-tree-node-hover   .mini-tree-nodeshow {border:1px solid #59b4d4; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x;}
.mini-tree-selectedNode .mini-tree-nodeshow {border:1px solid #ffaf0f; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x;}

/*----------------------- special -----------------------*/
.mini-pager-size{height:auto;}
body .mini-pager-size .mini-buttonedit .mini-buttonedit-border{border-color:#666666;}
body .mini-pager-size .mini-buttonedit-input {background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x; color:#ffffff;}
body .mini-pager-size .mini-buttonedit-hover .mini-buttonedit-input {border:0; background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x;}
body .mini-pager-size .mini-buttonedit-popup .mini-buttonedit-input {border:0; background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x;}
/*body .mini-pager-size .mini-buttonedit-focus .mini-buttonedit-border {border-color:#ffaf0f;}*/
body .mini-pager-num {background:#f7f7f7; color:#000000; border:1px solid #666666; min-height:16px; min-width:16px;}

.mini-pager-first {background:url(images/page-first.gif) no-repeat;}
.mini-pager-prev  {background:url(images/page-prev.gif) no-repeat;}
.mini-pager-next  {background:url(images/page-next.gif) no-repeat;}
.mini-pager-last  {background:url(images/page-last.gif) no-repeat;}
.mini-pager-reload{background:url(images/refresh.png) no-repeat;}



.mini-htmlfile .mini-buttonedit-button       {background:#555555 url(images/bg_glass_555555.png) 50% 50% repeat-x; border:1px solid #666666; color:#fff;}
.mini-htmlfile .mini-buttonedit-button-hover {background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; border:1px solid #59b4d4;}

.mini-textboxlist-border {border-color:#666666;}
body .mini-textboxlist-focus .mini-textboxlist-border {border-color:#ffaf0f;}
.mini-textboxlist .mini-textboxlist-item          {background:#333333 url(images/bg_gloss_333333.png) 50% 50% repeat-x; border:1px solid #333;}
.mini-textboxlist .mini-textboxlist-item-hover    {background:#0078a3 url(images/bg_glass_0078a3.png) 50% 50% repeat-x; border:1px solid #59b4d4;}
.mini-textboxlist .mini-textboxlist-item-selected {background:#f58400 url(images/bg_inset_f58400.png) 50% 50% repeat-x; border:1px solid #ffaf0f;}

#winAbout .mini-panel-viewport { background: transparent; border: 0px; }

/*----------------------- 指数颜色 -----------------------*/
.indexCls0 {font-family:Arial;   font-size:13px; color:#f0f888; font-weight:bold;}  /* 名称 */
.indexCls1 {font-family:Verdana; font-size:12px; color:#00ffff;}    /* 金额 */
.indexCls2 {font-family:Verdana; font-size:12px; color:#dddddd;}    /* 白色 */
.indexCls3 {font-family:Verdana; font-size:12px; color:#00e600;}    /* 绿色 */
.indexCls4 {font-family:Verdana; font-size:12px; color:#ff3232;}    /* 红色 */

.snCls {color:#c0c0c0;}   /* 序号 */
.cdCls {color:#f0f888;font-weight:bold;}   /* 代码 */
.nmCls {color:#f0f888;}   /* 名称 */
.vlCls {color:#00ffff;font-weight:bold;}   /* 金额 */
.dfCls {color:#dddddd;font-weight:bold;}   /* 默认 */
.upCls {color:#ff3232;font-weight:bold;}   /* 上涨 */
.dnCls {color:#00e600;font-weight:bold;}   /* 下跌 */
.tmCls {color:#dddddd;}   /* 时间 */

.stock-hq {padding:2px;}
.stock-hq table {font:12px "微软雅黑"; font-weight:normal; color:#ddd; line-height:24px; overflow:hidden; width:100%; border:1px solid #b00000;}
.stock-hq th {text-align:center; font-weight:normal;}
.stock-hq td {text-align:right; padding-right:8px; font-family:Verdana;}
.stock-hq thead td, .stock-hq thead th { border-bottom:1px solid #b00000;}
.stock-hq .bb th, .stock-hq .bb td {border-bottom:1px solid #b00000;}

.stock-hq .title {color:#00ffff; line-height:40px; padding:8px 0 0; text-align:center;}
.stock-hq .name {font-family:"微软雅黑"; font-size:24px; font-weight:bold;}
.stock-hq .fav  {cursor:pointer; display:inline-block;}

.futures-hq {height:60px;}
.futures-hq .title {float:left; color:#00ffff; padding:12px 2px 0 10px; vertical-align:middle; font-family:"微软雅黑"; font-weight:bold;}
.futures-hq .name {font-size:24px;}
.futures-hq .code {font-size:16px; margin-top:5px; text-align:center;}
.futures-hq .fav  {float:left; width:24px;}
.futures-hq .fav span {cursor:pointer; display:inline-block;}
.futures-hq .num  {float:left; font-family:Verdana; padding:0 10px;}
.futures-hq .num span {display:inline-block; *display:inline; *zoom:1; }
.futures-hq .price {float:left; font-size:28px; height:40px; line-height:40px; vertical-align:middle;}
.futures-hq .img {background:url('images/arrow.gif') no-repeat; width:21px; height:40px; margin-left:4px;}
.futures-hq .upCls .img {background-position: 0 -2px;}
.futures-hq .dnCls .img {background-position: 0 -42px;}
.futures-hq .dfCls .img {background-position: 0 -80px;}
.futures-hq .change {font-size:14px; font-weight:normal; line-height:16px;}
.futures-hq table {float:left; font-family:"微软雅黑"; font-size:12px; margin-top:5px; color:#ddd; overflow:hidden;}
.futures-hq table td {padding: 4px 8px;}
.futures-hq table td span {font-family:Verdana;}

.forex-hq {height:60px;}
.forex-hq .title {float:left; color:#00ffff; padding:12px 2px 0 10px; vertical-align:middle; font-family:"微软雅黑"; font-weight:bold;}
.forex-hq .name {font-size:24px;}
.forex-hq .code {font-size:16px;margin-top:5px; text-align:center;}
.forex-hq .fav  {float:left; width:24px;}
.forex-hq .fav span {cursor:pointer; display:inline-block;}
.forex-hq .num  {float:left; font-family:Verdana; padding:0 10px;}
.forex-hq .num span {display:inline-block; *display:inline; *zoom:1; }
.forex-hq .price {float:left; font-size:28px; height:40px; line-height:40px; vertical-align:middle;}
.forex-hq .img {background:url('images/arrow.gif') no-repeat; width:21px; height:40px; margin-left:4px;}
.forex-hq .upCls .img {background-position: 0 -2px;}
.forex-hq .dnCls .img {background-position: 0 -42px;}
.forex-hq .dfCls .img {background-position: 0 -80px;}
.forex-hq .change {font-size:12px; font-weight:normal; line-height:14px;}
.forex-hq table {float:left; font-family:"微软雅黑"; font-size:12px; margin-top:5px; color:#ddd; overflow:hidden;}
.forex-hq table td {padding: 4px 8px;}
.forex-hq table td span {font-family:Verdana;}